html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.slider-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #00334429;
}

.user-image {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.profile-list {
    display: flex;
    flex-direction: column;
}
.imageMini {
    border: 1px solid #dedede;
    background-color: #e4e4e4;
}

.gallery-block {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.gallery-block img  {
    padding: 20px;
}
.gallery-block p  {
    padding: 20px;
    width: 340px;
}
.gallery-block div {
    margin: 10px;
    box-sizing: border-box;
}

.img {
    transition: transform 200ms;
}
.img:hover {
    transform: scale(1.05);
}
.galleryWrapper__screen {
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.8;
    position: fixed;
    top: 0;
    z-index: 998;
    display: block;
    text-align: center;
}
.galleryWrapper__image {
    max-height: 90%;
    max-width: 100%;
    z-index: 999;
    position: fixed;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.galleryWrapper__close {
    width: 50px;
    z-index: 1000;
    position: fixed;
    top: 50px;
    right: 0;
}

.galleryWrapper__next {
    width: 30px;
    z-index: 1000;
    position: fixed;
    top: 50%;
    right: 50px;
}
.galleryWrapper__back {
    width: 30px;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50px;
}